


div.maintext p
{
  color:gray;
  text-indent:30px;
  font-family:Georgia,serif;
  font-size:18px;
  width:900px;
  line-height:160%;
}

p.name
{
  color:#686868;
  font-family:Georgia,serif;
  font-size:16px;
}

p.aboutme
{
  color:gray;
  font-family:Georgia,serif;
  font-size:16px;
  line-height:160%;
}

p.footer
{
  color:gray;
  font-family:Georgia,serif;
  font-size:14px;
  text-align:center;
  line-height:80%;
}

p.sharing
{
  color:white;
  font-family:arial;
  font-size:16px;
}

div.body
{
  width:900px;
  margin-left:auto;
  margin-right:auto;
}

div.header
{
  width:900px;
  height:80px;
}

div.title
{
  width:900px;
}

div.subtitle
{
  float:left;
}

div.divider
{
  height:13px;
  width:900px;
  background-color:white;
  background-image:url("shadediv001.png");
  background-repeat:repeat;
  float:left;
}

div.usericon
{
  width:84px;
  height:84px;
  border-radius:42px;
  background-image:url("usericon001.png");
  background-repeat:no-repeat;
  background-position:left top;
}

div.aboutme
{
  width:610px;
  padding:5px;
}

div.share
{
  width:185px;
  height:54px;
  display:table;
  background-color:#bc7058;
  text-align:center;
  float:right;
}

div.sharealign
{
  display:table-cell;
  vertical-align:middle;
  text-align:middle;
}

p.title
{
  color:black;
  font-family:impact,sans-serif;
  font-size:36px;
  margin-bottom:0;
}

p.subtitle
{
  color:gray;
  font-family:Arial,sans-serif;
  font-size:12px;
  margin-top:0;
}

p.print
{
  color:gray;
  font-family:Arial,sans-serif;
  font-size:12px;
  margin-top:0;
}

table.spacer
}
  width:900px;
  border-collapse:collapse;
}

div.margin
{
  width:900px;
  height:40px;
  background-color:red;
  float:left;
}

div.notepad
{
  width:900px;
}

div.notepadtop
{
  width:900px;
  height:31px;
  background-image:url("notepadtop01.png");
  float:left;
}

div.notepadmid
{
  width:900px;
  background-image:url("notepadmid01.png");
  background-repeat:repeat;
  background-position:top left;
  float:left;
}

div.notepadlow
{
  width:900px;
  height:55px;
  background-image:url("notepadlow02.png");
  background-repeat:no-repeat;
  background-position:left top;
  float:left;
}

div.notepadtext
{
  margin:-18px 20px 30px 20px;
}


ul.clicker
{
  font-family:"Comic Sans MS";
  font-size:23px;
  line-height:31px;
  color:#726449;
  columns:2;
  -webkit-columns:2;
  -moz-columns:2;
  list-style-image:url("tickbox01.png");
  list-style-position:outside;
}

ul.clicker li
{
  margin-left:1em;
  width:97%;
}

li.checked
{
  margin-left:1em;
  list-style-image:url("tickbox02.png");
}

ul.clicker span
{
  display:inline-block;
  width:80%;
}

