
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $colorbackground;
}

header {
  width: 100%;
  text-align: center;
  background-color: $color7;
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  //height: 5em;
  //position: absolute;
  //top: 0;
}

.quiztext {
  margin-top: 3em;
  @media #{$tablet2} {
    margin-top: 2em;
  }
  @media #{$mobile} {
    margin-top: 0.5em;
  }
}
